html {
    color-scheme: dark light;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

body {
    margin: 0;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-inline: auto;
    margin-block: auto;
    padding: 2em;
    gap: 1em;
    background-color: #111;
    border: 0.125em solid #222;
    border-radius: 1em;
    box-shadow: 0 0 3em 1em #5554;
    font-size: clamp(1rem, 3vh, 2rem);
}

main h1 {
    margin: 0;
}

main hr {
    margin: 0;
    border-color: #222;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3ch;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input, label, button {
    font: inherit;
}

input[type="number"] {
    width: 8ch;
}

button {
    border-style: solid;
    border-radius: 10000em;
    padding: 0.25em 0.5em;
    cursor: pointer;
}