body {
    background-color: black;
    color: white;
}

table {
    font-family: monospace;
    border-collapse: collapse;
    margin-block: 1em;
    font-size: 1.3em;
}

table td {
    padding: 0.25em 1ch;
    border: 0.1em solid white;
}

table .bold {
    font-weight: bold;
    background-color: #111;
}

label {
    margin-inline-end: 2ch;
}

select {
    background-color: #222;
    border: 0.1em solid lightgrey;
    border-radius: 0.5em;
    padding: 0.25em 1ch;
    color: white;
}

select:hover {
    background-color: #333;
}