html {
    color-scheme: dark light;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

body {
    margin: 0;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    margin-inline: auto;
    margin-block: auto;
    padding: 2em;
    gap: 1em;
    background-color: #111;
    border: 0.125em solid #222;
    border-radius: 1em;
    box-shadow: 0 0 3em 1em #5554;
}

main h1 {
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1ch;
    flex-wrap: wrap;
}

/*                           e      */
@media screen and (max-width: 621px) {
    .row {
        flex-direction: column;
        gap: 1em;
    }
}

.col {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

input, label, button, select {
    font: inherit;
}

input {
    font-size: 2em;
    width: 13ch;
    transition: border-color 500ms;
}

input.invalid, input:invalid {
    border-color: red;
    box-shadow: 0 0 1ch red;
}

input[type="number"] {
    width: 8ch;
}

button {
    font-size: 1.5em;
    border-style: solid;
    padding: 0.25em 0.5em;
    cursor: pointer;
}