/*
 * Device cutoffs
 * Mobile: < 400px
 * Tablet: 400px - 800px
 * Desktop: > 800px
 */

body {
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100vw;
  min-height: fit-content;
  height: 100vh;
  gap: 1em;
  padding: 1em;
}

.row {
  display: flex;
  flex-direction: row;
}

header {
  padding-block: 0.75em;
}

@media (max-width: 400px) {
  nav {
    position: fixed;
    z-index: 1;
    inset: auto 0 0 0;
    padding: 0 !important;
  }
  nav menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding-block: 2em 0;
    padding-inline: 0;
    font-size: 0.8em;
    gap: 1em;
    flex-wrap: wrap;
  }
  nav menu a {
    padding-block: 2em 0;
  }
  main {
    padding: 1em !important;
  }
}

@media (min-width: 400px) {
  .row {
    gap: 1em;
  }
}

@media (min-width: 400px) and (max-width: 800px) {
  nav {
    padding: 0 !important;
    font-size: 0.6em;
  }
  nav > menu {
    padding: 0 !important;
    list-style-type: none;
    text-align: center;
  }
  nav > menu > li > a, nav > menu > li {
    padding-block-start: 3em;
  }

}

header {
  text-align: center;
  vertical-align: middle;
  background-color: antiquewhite;
}
nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-wrap: balance;
  padding: 0.5em 1em !important;
  background-color: aquamarine;
}
main {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 1em 3em;
  padding: 1em;
  background-color: lavender;
}

.video {
  box-sizing: border-box;
  width: 100%;
  background-color: #0003;
  padding: 20px;
  flex-basis: 200px;
  flex-grow: 1;
}
.video:before {
  content: "";
  display: block;
  width: 100%;
  height: 130px;
  background-color: #8883;
  margin-block-end: 1em;
}
.video:after {
  content: "Video";
  display: block;
  width: 100%;
  color: black;
}
